!DOCTYPE html
html lang=en
head
   meta charset=UTF-8
   meta name=viewport content=width=device-width, initial-scale=1.0
   titleDocumenttitle
head
body
   div id=IDOperacion
      h2{{RSuma}}h2
      span v-if=RSuma0Sumaspan
      h2{{RResta}}h2
      span v-if=RResta0Restaspan
      h2{{RMultiplicacion}}h2
      span v-if=RMultiplicacion0Multiplicacionspan
      h2{{RDivision}}h2
      span v-if=RDivision0Divisionspan

      !--Manejo de objetos dentro de otos objetos--
      H2Medio de transporteH2
      h3{{Hablar.Hola}}h3
      h3{{Hablar.Saludo.Saludo1}}h3
      h3{{Hablar.Complemento.complementoFin.Complemento1}}h3
   div
body
script src=httpscdn.jsdelivr.netnpmvuedistvue.jsscript
script src=logic.jsscript
html